<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.lenovo.TB371FC"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
		android:requiredSystemPropertyValue="+Lenovo/TB371FC_PRC/TB371FC*"
        android:priority="677"
        android:isStatic="true" />
</manifest>
